@model GeCoSurvey.Domain.Survey
@{
    ViewBag.Title = "Compila";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("form").validate({
            errorPlacement: function (error, element) {
                //var t = $(element).closest("table").siblings("span");
                var t = $(element).closest("li").find(".question>label");
                error.insertAfter(t);
            }
        });
        $.validator.messages.required = "* Indicare una risposta";
    });
</script>


<h2>Compila</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id);

    <ol class="questionario">
        @RenderQuestion(Model.Questions)
    </ol>
    
    <input type="submit" value="Invia" />
}



@using GeCoSurvey.Domain;
@helper RenderQuestion(IEnumerable<Question> domande)
    {
        foreach (var d in domande)
        {
            string testo = d.Testo;
            string idQuestion = d.Id.ToString();
            IEnumerable<SubQuestion> subquestions = d.Children;
        
        
            
        <li>
            @*<h3 class="question">@testo</h3>*@
            <div class="question">
                <label>@testo</label>
            </div>
            <table class="gradi">
                @RenderSubQuestion(idQuestion, subquestions)
            </table>
        </li>
        }
}

@helper RenderSubQuestion(string idQuestion, IEnumerable<SubQuestion> subquestions)
    {        
        var subQuestionsOrdered = subquestions.OrderBy(sub => sub.LivelloConoscenzaId);

        foreach (var s in subQuestionsOrdered)
        {
            string idSubQuestion = s.Id.ToString();
            string testo = s.Testo;
            string rowClass = "rigaGrado" + (s.LivelloConoscenzaId-1);
            
            @*<span class="subquestion">
                <input type='radio' id='q@(idSubQuestion)' name='c@(idQuestion)' value='@idSubQuestion' />@testo<br />
            </span>*@
        
            <tr class="@rowClass">
                <td class="colonnaGrado">@Html.RadioButton("c" + idQuestion, idSubQuestion, new { @class = "required" })</td>
                <td>@testo</td>
            </tr>
        
        }
}