@model GeCoSurvey.Domain.SurveyWithAnswers
@{
    ViewBag.Title = "Revisiona";
}

<h2>Revisiona</h2>

@Html.Partial("Istruzioni/_IstruzioniAutoValutazione")

@using (Html.BeginForm())
{
    //@Html.HiddenFor(model => model.Id);

    <ol class="questionario">
        @RenderQuestionWithAnswer(Model.DomandeConRisposte)
    </ol>

    <input type="submit" value="Invia" />
}




@using GeCoSurvey.Domain;
@using GeCoSurvey.Web.Models;
@helper RenderQuestionWithAnswer(IEnumerable<QuestionWithAnswer> domande)
    {
    foreach (var d in domande)
    {
        string testo = d.Question.Testo;
        string idQuestion = d.Question.Id.ToString();
        int idRispostaData = d.RispostaDataId;
        IEnumerable<SubQuestion> subquestions = d.Question.Children;
        
        <li>
            <h3 class="question">@testo</h3>
            @RenderSubQuestionWithAnswer(idQuestion, subquestions, idRispostaData )
        </li>
        
        
    }
}

@helper RenderSubQuestionWithAnswer(string idQuestion, IEnumerable<SubQuestion> subquestions, int idRispostaData)
    {
    foreach (var s in subquestions)
    {
        string idSubQuestion = s.Id.ToString();
        string testo = s.Testo;
        string showAutoVal = "";
        if (s.Id == idRispostaData)
        {
            showAutoVal = "showAutoVal";
        }
        
        
        <span class="subquestion">
            <span class="autoval @showAutoVal">&nbsp;</span>
            <input type='radio' id='q@(idSubQuestion)' name='c@(idQuestion)' value='@idSubQuestion' />@testo<br />
        </span>
        
    }
}