@model GeCoSurvey.Domain.SurveyWithAnswers
@{
    ViewBag.Title = "Revisiona";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("form").validate({
            messages: {
                required: "Prova"
            },
            errorPlacement: function (error, element) {
                //var t = $(element).closest("table").siblings("span");
                var t = $(element).closest("li").find("h3");
                error.insertAfter(t);
            }
        });
    });
</script>

<h2>Revisiona</h2>

@using (Html.BeginForm())
{
    //@Html.HiddenFor(model => model.Id);
    @Html.Partial("_HeaderEteroValutazione", Model.NomeRisorsa)
    
    <ol class="questionario">
        @RenderQuestionWithAnswer(Model.DomandeConRisposte)
    </ol>

    <input type="submit" value="Invia" />
}




@using GeCoSurvey.Domain;
@using GeCoSurvey.Web.Models;
@helper RenderQuestionWithAnswer(IEnumerable<QuestionWithAnswer> domande)
    {
        foreach (var d in domande)
        {
            string testo = d.Question.Testo;
            string idQuestion = d.Question.Id.ToString();
            int idRispostaData = d.RispostaDataId;
            int idValoreAtteso = d.Question.ValoreAttesoId;
            IEnumerable<SubQuestion> subquestions = d.Question.Children;
        
        <li>
            <h3 class="question">@testo</h3>
            
                @RenderSubQuestionWithAnswer(idQuestion, subquestions, idRispostaData, idValoreAtteso)
            
        </li>
        
        }
}

@helper RenderSubQuestionWithAnswer(string idQuestion, IEnumerable<SubQuestion> subquestions, int idRispostaData, int idValoreAtteso)
    {
        foreach (var s in subquestions)
        {
            string idSubQuestion = s.Id.ToString();
            string testo = s.Testo;
            string showValAtteso = "";
            string showAutoVal = "";
            if (s.Id == idRispostaData)
            {
                showAutoVal = "showAutoVal";
            }

            if (s.LivelloConoscenzaId == idValoreAtteso)
            {
                showValAtteso = "showValAtteso";
            }
        
        <span class="subquestion">
            <span class="valAtteso @showValAtteso">&nbsp;</span>
            @Html.RadioButton("c" + idQuestion, idSubQuestion, new { @class = "required" })
            @*<input type='radio' id='q@(idSubQuestion)' name='c@(idQuestion)' value='@idSubQuestion' />*@
            <span class="@showAutoVal">@testo</span><br />
        </span>
        
        }
}