@model IEnumerable<GeCoSurvey.Domain.SurveySession>
@{
    ViewBag.Title = "Visualizza";
}

<h2>Stato Questionari di competenza</h2>

<ul>
@foreach (var ss in Model)
{ 
    <li>
    <span><b>Utente: </b>@ss.User </span><br />
    <span><b>Stato: </b>@DisplayStato(ss)</span><br />

    
    @*se è stato completato ma non revisionato *@
    @if (ss.Completato && !ss.Revisionato)
    {
        @Html.ActionLink("Revisiona", "Revisiona", "Surveys", new { id = ss.Id }, null);
    }
    </li>
    
}

</ul>


@helper DisplayStato(GeCoSurvey.Domain.SurveySession session)
{
    if (!session.Completato)
    {
        @("Non completato")
    }
    else
    {
        if (!session.Revisionato)
        {
            @("Completato");
        }
        else
        { 
            @("Revisionato");
        }
    }
}