@model IEnumerable<GeCoSurvey.Domain.SurveySession>
@{
    ViewBag.Title = "Visualizza";
}



<h2>Stato Questionari di competenza</h2>

<table>
<thead>
<tr>
<th style="width:100px">Utente</th>
<th style="width:200px">Stato</th>
</thead>
@foreach (var ss in Model)
{ 
    <tr>
    <td>@ss.User </td>
    <td>@DisplayStato(ss)</td>

    
    @*se è stato completato ma non revisionato 
    @if (ss.Completato && !ss.Revisionato)
    {
        
    }*@
    </tr>
    
}

</table>


@helper DisplayStato(GeCoSurvey.Domain.SurveySession session)
{
    if (!session.Completato)
    {
        @("Non completato")
    }
    else
    {
        if (!session.Revisionato)
        {
            @Html.ActionLink("Revisiona", "Revisiona", "Surveys", new { id = session.Id }, null);
        }
        else
        { 
            @("Revisionato");
        }
    }
}