@using GeCoSurvey.Data;
@{
    ViewBag.Title = "Home Page";
}
@*<h2>Benvenuto</h2>*@


@CaricaIstruzioni()


@helper CaricaIstruzioni()
{
    string nome = ViewBag.NomeCompleto;
    if (ViewBag.Ruolo == Tipologiche.Ruoli.DIPENDENTI)
    {
        @Html.Partial("_HeaderAutoValutazione", nome);
        @Html.Partial("_IstruzioniAutoValutazione");
    }
    else if (ViewBag.Ruolo == Tipologiche.Ruoli.RESPONSABILI)
    {
        @Html.Partial("_HeaderEteroValutazione");
        @Html.Partial("_IstruzioniEteroValutazione");
    }
}