@using GeCoSurvey.Web.Helpers;
@using GeCoSurvey.Data;
@{
    ViewBag.Title = "Home Page";
}
@*<h2>Benvenuto</h2>*@


@CaricaIstruzioni()


@helper CaricaIstruzioni()
{
    string nome = ViewBag.NomeCompleto;
    if (ViewBag.Ruolo == Tipologiche.Ruoli.DIPENDENTI)
    {
        @Html.Partial("_HeaderAutoValutazione", new { ShowIstruzioni = true, User = "" }.ToExpando());
        @Html.Partial("_IstruzioniAutoValutazione");
                                                   
        @Html.ActionLink("Compila", "Index", "Surveys", new { area = "" }, new { @class = "button" })
    }
    else if (ViewBag.Ruolo == Tipologiche.Ruoli.RESPONSABILI)
    {
        @Html.Partial("_HeaderEteroValutazione", new { ShowIstruzioni = true, User = "" }.ToExpando());
        @Html.Partial("_IstruzioniEteroValutazione");

        <div class="btnContainer">
            @Html.ActionLink("Revisiona", "Visualizza", "Surveys", new { area = "" }, new { @class = "button" })
        </div>
    }
}