@using System.Globalization
@model GeCoSurvey.Web.Areas.Admin.Models.Users.DetailsViewModel
@{
	ViewBag.Title = "User Details: " + Model.DisplayName;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">Dettagli Utente: @Model.DisplayName [@Model.Status]</h2>

<ul class="mvcMembership-tabs">
	<li>Dettagli</li>
	<li>@Html.ActionLink("Password", "Password", "Users", new { id = Model.User.ProviderUserKey }, null)</li>
	@if(Model.IsRolesEnabled){
	<li>@Html.ActionLink("Ruoli", "UsersRoles", "Users", new { id = Model.User.ProviderUserKey }, null)</li>
	}
    <li>@Html.ActionLink("Profilo", "Profile", "Users", new { id = Model.User.UserName }, null)</li>
</ul>

<h3 class="mvcMembership">Account</h3>
<div class="mvcMembership-account">
	<dl class="mvcMembership">
		<dt>User Name:</dt>
			<dd>@Model.User.UserName</dd>
		<dt>Email:</dt>
			<dd><a href="mailto:@Model.User.Email">@Model.User.Email</a></dd>
		@if(Model.User.LastActivityDate == Model.User.CreationDate){
		<dt>Ultima attività:</dt>
			<dd><em>Never</em></dd>
		<dt>Ultimo Login:</dt>
			<dd><em>Never</em></dd>
		}else{
		<dt>Ultima Attività:</dt>
			<dd>@Model.User.LastActivityDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</dd>
		<dt>Ultimo Login:</dt>
			<dd>@Model.User.LastLoginDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</dd>
		}
		<dt>Creato:</dt>
			<dd>@Model.User.CreationDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</dd>
	</dl>

	@using(Html.BeginForm("ChangeApproval", "Users", new{ id = Model.User.ProviderUserKey })){
		@Html.Hidden("isApproved", !Model.User.IsApproved)
		<input type="submit" value='@(Model.User.IsApproved ? "Blocca" : "Approva") Account' />
	}
	@using(Html.BeginForm("DeleteUser", "Users", new{ id = Model.User.ProviderUserKey })){
		<input type="submit" value="Elimina Account" />
	}
</div>

<h3 class="mvcMembership">Email & Note</h3>
<div class="mvcMembership-emailAndComments">
	@using(Html.BeginForm("Details", "Users", new{ id = Model.User.ProviderUserKey })){
	<fieldset>
		<p>
			<label for="email">Email:</label>
			@Html.TextBox("email", Model.User.Email)
		</p>
		<p>
			<label for="comments">Note:</label>
			@Html.TextArea("comments", Model.User.Comment)
		</p>
		<input type="submit" value="Salva Email e Note" />
	</fieldset>
	}
</div>