@using PagedList.Mvc
@model GeCoSurvey.Web.Areas.Admin.Models.Users.IndexViewModel
@{
	ViewBag.Title = "User Administration";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/Content/PagedList.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">Gestione Utenti</h2>
	
<h3 class="mvcMembership">Utenti (@Html.ActionLink("Nuovo", "CreateUser", "Users"))</h3>
<div class="mvcMembership-allUsers">
    @using(Html.BeginForm("Index", "Users", FormMethod.Get)){
    <fieldset>
        <legend>Ricerca</legend>
        <p></p>
            <div style="width:20px;">Nome:</div>
            @Html.TextBox("nome")
        <p></p>
            <div style="width:20px;">Cognome:</div>
            @Html.TextBox("cognome")
        <p></p>
                
        <input type="submit" value="Cerca" />
        </fieldset>
    }

@if(Model.Users.Count > 0){
	<ul class="mvcMembership mvcMembership-users">
		@foreach(var user in Model.Users){
		<li>
			<span class="mvcMembership-username">@Html.ActionLink(user.UserName, "Details", new{ id = user.ProviderUserKey})</span>
			<span class="mvcMembership-email"><a href="mailto:@user.Email">@user.Email</a></span>
			@if(user.IsOnline){
				<span class="mvcMembership-isOnline">Online</span>
			}else{
				<span class="mvcMembership-isOffline">Offline da
					@{
						var offlineSince = (DateTime.Now - user.LastActivityDate);
						if (offlineSince.TotalSeconds <= 60){
							<text>1 minuto.</text>
						}else if(offlineSince.TotalMinutes < 60){
							<text>@Math.Floor(offlineSince.TotalMinutes) minuti.</text>
						}else if (offlineSince.TotalMinutes < 120){
							<text>1 ora</text>
						}else if (offlineSince.TotalHours < 24){
							<text>@Math.Floor(offlineSince.TotalHours) ore.</text>
						}else if (offlineSince.TotalHours < 48){
							<text>1 giorno.</text>
						}else{
							<text>@Math.Floor(offlineSince.TotalDays) giorni.</text>
						}
					}
				</span>
			}
			@if(!string.IsNullOrEmpty(user.Comment)){
				<span class="mvcMembership-comment">@user.Comment</span>
			}
		</li>
		}
	</ul>
    if(Request.QueryString["cognome"] == null && Request.QueryString["nome"] == null)
    {
	    @Html.PagedListPager(Model.Users, page => Url.Action("Index", new { page }))
    }
}else{
	<p>Nessun utente registrato.</p>
}
</div>

@if(Model.IsRolesEnabled){
	<h3 class="mvcMembership">Roles</h3>
	<div class="mvcMembership-allRoles">
	@if(Model.Roles.Count() > 0 ){
		<ul class="mvcMembership">
			@foreach(var role in Model.Roles){
			<li>
				@Html.ActionLink(role, "Role", new{id = role})
				@using(Html.BeginForm("DeleteRole", "Users", new{id=role})){
				<input type="submit" value="Elimina" />
				}
			</li>
			}
		</ul>
	}else{
		<p>Nessuno utente è stato creato</p>
	}

	@using(Html.BeginForm("CreateRole", "Users")){
		<fieldset>
			<label for="id">Ruolo:</label>
			@Html.TextBox("id")
			<input type="submit" value="Crea Ruolo" />
		</fieldset>
	}
	</div>
}