@using System.Globalization
@model GeCoSurvey.Web.Areas.Admin.Models.Users.DetailsViewModel
@{
	ViewBag.Title = "User Details: " + Model.DisplayName;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">Dettagli Utente: @Model.DisplayName [@Model.Status]</h2>

<ul class="mvcMembership-tabs">
	<li>@Html.ActionLink("Dettagli", "Details", "Users", new {id = Model.User.ProviderUserKey }, null)</li>
	<li>Password</li>
	@if(Model.IsRolesEnabled){
	<li>@Html.ActionLink("Ruoli", "UsersRoles", "Users", new{id = Model.User.ProviderUserKey}, null)</li>
	}
</ul>

<h3 class="mvcMembership">Password</h3>
<div class="mvcMembership-password">
	@if(Model.User.IsLockedOut){
		<p>Bloccato da @Model.User.LastLockoutDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</p>
		using(Html.BeginForm("Unlock", "Users", new{ id = Model.User.ProviderUserKey })){
		<input type="submit" value="Unlock Account" />
		}
	}else{

		if(Model.User.LastPasswordChangedDate == Model.User.CreationDate){
		<dl class="mvcMembership">
			<dt>Ultima modifica:</dt>
			<dd><em>Never</em></dd>
		</dl>
		}else{
		<dl class="mvcMembership">
			<dt>Ultima modifica:</dt>
			<dd>@Model.User.LastPasswordChangedDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</dd>
		</dl>
		}

		if(Model.CanResetPassword && Model.RequirePasswordQuestionAnswerToResetPassword){
			using(Html.BeginForm("ResetPasswordWithAnswer", "Users", new{ id = Model.User.ProviderUserKey })){
			<fieldset>
				<p>
					<dl class="mvcMembership">
						<dt>Domanda per password:</dt>
						if(string.IsNullOrEmpty(Model.User.PasswordQuestion) || string.IsNullOrEmpty(Model.User.PasswordQuestion.Trim())){
						<dd><em>No password question defined.</em></dd>
						}else{
						<dd>@Model.User.PasswordQuestion</dd>
						}
					</dl>
				</p>
				<p>
					<label for="answer">Risposta per password:</label>
					@Html.TextBox("answer")
				</p>
				<input type="submit" value="Inizializza con Password Random" />
			</fieldset>
			}
		}else if(Model.CanResetPassword){
			using(Html.BeginForm("SetPassword", "Users", new{ id = Model.User.ProviderUserKey })){
			<fieldset>
				<p>
					<label for="password">Nuova Password:</label>
					@Html.TextBox("password")
				</p>
				<input type="submit" value="Modifica Password" />
			</fieldset>
			}
			using(Html.BeginForm("ResetPassword", "Users", new{ id = Model.User.ProviderUserKey })){
			<fieldset>
				<input type="submit" value="Inizializza con Password Random" />
			</fieldset>
			}
		}

	}
</div>